<div class="leader-ticker-title">
  <p class="title-header">LEADERBOARD</p>
</div>
<div class="leader-ticker-container">
  <div class="leader-ticker-slot">
    <div class="lt-slot-1">
      <span class="leader-ticker-name">JAMES M.</span>
      <span class="leader-ticker-course">Auburn GC</span>
      <span class="leader-ticker-date">Jul 5, 2016</span>
    </div>
    <div class="lt-slot-2">
      <span class="leader-ticker-position">1st</span>
      <span class="leader-ticker-score">100</span>
      <span class="leader-ticker-handicap">(+29)</span>
    </div>
    <!-- <span class="leader-ticker-position">1st</span> -->
  </div>
  <div class="leader-ticker-slot">
    <div class="lt-slot-1">
      <span class="leader-ticker-name">JIN Y.</span>
      <span class="leader-ticker-course">Druids Glen</span>
      <span class="leader-ticker-date">Mar 23, 2016</span>
    </div>
    <div class="lt-slot-2">
      <span class="leader-ticker-position">2nd</span>
      <span class="leader-ticker-score">88</span>
      <span class="leader-ticker-handicap">(+18)</span>
    </div>
    <!-- <span class="leader-ticker-position">2nd</span> -->
  </div>
  <div class="leader-ticker-slot">
    <div class="lt-slot-1">
      <span class="leader-ticker-name">SOON K.</span>
      <span class="leader-ticker-course">Whitehorse GC</span>
      <span class="leader-ticker-date">Oct 31, 2016</span>
    </div>
    <div class="lt-slot-2">
      <span class="leader-ticker-position">3rd</span>
      <span class="leader-ticker-score">110</span>
      <span class="leader-ticker-handicap">(+40)</span>
    </div>
    <!-- <span class="leader-ticker-position">3rd</span> -->
  </div>
  <div class="leader-ticker-slot">
    <div class="lt-slot-1">
      <span class="leader-ticker-name">LEO K.</span>
      <span class="leader-ticker-course">Bellevue GC</span>
      <span class="leader-ticker-date">Jun 29, 2016</span>
    </div>
    <div class="lt-slot-2">
      <span class="leader-ticker-position">4th</span>
      <span class="leader-ticker-score">100</span>
      <span class="leader-ticker-handicap">(+30)</span>
    </div>
    <!-- <span class="leader-ticker-position">4th</span> -->
  </div>
</div>
