<div class="leaderboard-ticker-container">
  <div class="lb-ticker-title">
    <span>Leaderboard</span>
  </div>

  <div class="lb-ticker-tab">
    <div class="lb-ticker-tab-s1">
      <span>1st</span>
    </div>
    <span>James M.</span>
    <div class="lb-ticker-tab-s2">
      <span><strong>105</strong></span>
    </div>
  </div>
  <div class="lb-ticker-space"></div>
  <div class="lb-ticker-tab">
    <div class="lb-ticker-tab-s1">
      <span>2nd</span>
    </div>
    <span>Jin Y.</span>
    <div class="lb-ticker-tab-s2">
      <span>94</span>
    </div>
  </div>
  <div class="lb-ticker-space"></div>
  <div class="lb-ticker-tab">
    <div class="lb-ticker-tab-s1">
      <span>3rd</span>
    </div>
    <span>Soon K.</span>
    <div class="lb-ticker-tab-s2">
      <span>140</span>
    </div>
  </div>
  <div class="lb-ticker-space"></div>
  <div class="lb-ticker-tab">
    <div class="lb-ticker-tab-s1">
      <span>4th</span>
    </div>
    <span>James M.</span>
    <div class="lb-ticker-tab-s2">
      <span>100</span>
    </div>
  </div>
</div>
